---
import Layout from '../layouts/Layout.astro';

import groups from '../../public/data/groups.json';

import ad from '../../public/data/ad.json';
import be from '../../public/data/be.json';
import cdu from '../../public/data/cdu.json'
import chega from '../../public/data/chega.json';
import il from '../../public/data/il.json';
import livre from '../../public/data/livre.json';
import pan from '../../public/data/pan.json';
import ps from '../../public/data/ps.json';

import List from "../components/List";
import ListItem from "../components/ListItem";
import RadioImg from '../components/RadioImg';
import GroupCard from "../components/GroupCard.astro";
import Info from "../components/Info.astro";

const users = [...ad, ...be, ...cdu, ...chega, ...il, ...livre, ...pan, ...ps];

let options = [
	{
		val: 'ad',
		eu_group: ['epp'],
		title: 'PSD + CDS + PPM',
		img: 'listas/ad.svg',
		bg_size: '70%'
	},
	{
		val: 'be',
		eu_group: ['left'],
		title: 'Bloco de Esquerda',
		img: 'listas/be.svg',
		bg_size: '70%'
	},
	{
		val: 'cdu',
		eu_group: ['left', 'greens'],
		title: 'PCP + PEV',
		img: 'listas/cdu.svg',
		bg_size: '80%'
	},
	{
		val: 'chega',
		eu_group: ['id'],
		title: 'Chega',
		img: 'listas/chega.png',
		bg_size: 'cover'
	},
	{
		val: 'il',
		eu_group: ['renew'],
		title: 'Iniciativa Liberal',
		img: 'listas/il.png',
		bg_size: 'cover'
	},
	{
		val: 'livre',
		eu_group: ['greens'],
		title: 'Livre',
		img: 'listas/livre.png',
		bg_size: 'cover'
	},
	{
		val: 'pan',
		eu_group: ['greens'],
		title: 'PAN',
		img: 'listas/pan.svg',
		bg_size: 'contain'
	},
	{
		val: 'ps',
		eu_group: ['sd'],
		title: 'Partido Socialista',
		img: 'listas/ps.svg',
		bg_size: 'cover'
	}
]
---

<Layout>

		<div class="flex justify-center">
			<Info>Seleciona uma lista!</Info>
		</div>

		<!-- List radio -->
		<div class="m-4 flex justify-center flex-wrap sm:flex-nowrap">
			<RadioImg options={options} targetClass="profile" groups="true" client:load />
		</div>

		<!-- EU groups -->
		<div class="before:ml-auto after:mr-auto my-4 flex flex-nowrap overflow-x-auto">
			{groups.map((group) => (
				<GroupCard group={group} />
			))}
		</div>

		<!-- Candidate lists -->
		<List>
			{users.map((user) => (
				<ListItem user={user} />
			))}
		</List>

		<footer slot="footer" class="absolute bottom-0 left-0 w-full text-center py-2">
			<a class="text-slate-600 underline" href="/about">Sobre</a>
		</footer>
</Layout>
